// Mixin for phone 

@mixin respond($breakpoint) {

    //TAB-PORTRAIT
    @if $breakpoint == tab-port {
        @media only screen and (min-width: 56.25em ) { @content; } 
    }

    // BIG-DESKTOP
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 64em) { @content; } 
    }
}

// Mixin flexbox center
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}