// Colors

$color-primary: #0181F5;
$color-primary-light: rgba(104,181,251, 0.8);

$color-secondary: #2C2C2C;
$color-secondary-light: rgb(154,163,155);

$color-white: #fff;
$color-black: #000;
$color-black-opacity: rgba(0,0,0,0.5);
