.header {
    height: 95vh;
    background-image: url(../images/banner/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.nav__container {
    background-color: #2C2C2C;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;

    .nav__list {
        position: absolute;
        padding: 0;
        list-style-type: none;
        left:0;
        display: none;
        width: 100%;
    }

    @include respond(big-desktop) {

        background-color: transparent;
        position: relative;
        justify-content: space-between;

        .nav__list {
            display: flex;
            position: relative;
            flex-direction: row;
            align-items: center;

            .nav__item {
                padding: 2rem 1rem;
            }

            .btn {
                margin-left: 7rem;
                font-weight: 500;
            }
        }

        .nav__item {
            background-color: transparent;
        }

        .hamburger {
            display: none;
        }
    }
}

.heading {
    &__container {
        padding: 1rem;
        margin-top: 2rem;

        @include respond(tab-port) {
            display: flex;
            align-items: center;

            .heading__img {
                margin-top: 8rem;
            }
        }

        @include respond(big-desktop) {
            justify-content: space-around;
        }
    }

    &__text {
        margin-bottom: 2rem;
        display: block;
    }

    &__img {
        margin: 3rem;

        img {
            max-width: 100%;
        }
    }
}






