.btn {
    display: inline-block;
    border: none;
    font-family: poppinsbold, sans-serif;
    font-size: 1.2rem;
    padding: .8rem 2rem;
    border-radius: 5px;


    &--turquoise {
        color: #fff;
        background-color: #37EBED;
    }

    &--blue {
        color: #fff;
        background-color: #0181F5;
        font-weight: 500;
    }

    &--price {
        background-color: #fff;
        border: 1px solid #0181F5;
        color: #0181F5;
        font-weight: 500;
        margin: 2rem 0 ;
    }
}