.reviews__rating {
    padding: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    @include respond(tab-port) {

    }

    span {
        width: 30px;
        height: 30px;
        padding: 5px;
        color: transparent;
        display: inline-block;
        margin: 0 .5rem;
        &::before {
            content: "★";
            color: #ffa500;
            font-size: 50px;
            line-height: 20px;
            margin-right: -100%;
        }
    }
}