html {
    box-sizing: border-box;
}

*,*::before, ::after {
    box-sizing: inherit;
}

h1 {
    font-family: "poppinsbold";
}

body{
    font-family: Poppin, sans-serif;
}

input {
    display: none;
}