html {
    box-sizing: border-box;
}

*,*::before, ::after {
    box-sizing: inherit;
}

body{
    font-family: Poppin, sans-serif;
    color: rgb(90,90,90);
}

input {
    display: none;
}

ul{
    padding: 0;
}

li {
    list-style-type: none;
}
