.nav__logo {
    color: $color-white;
    font-size: 1.2rem;
    font-weight: 700;

    @include respond(big-desktop) {
        font-size: 1.9rem;
    }
}

.heading {
    &--primary {
        font-size: 2.4rem;
        color: $color-white;
        font-weight: 600;
        letter-spacing: 3px;
        padding-top: 3rem;
    }
    
    &--secondary {
        font-size: 1.7rem;
        font-weight: 500;
        color: $color-secondary;
        text-align: center;
        
        &--white {
            color: $color-white;
        }

        @include respond(big-desktop) {
            font-size: 2.3rem;
        }
    }

    &-tertiary {
        &--white {
            color: $color-white;
        }
    }

    &__text {
        color: $color-white;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 1.5px;
    }
    
}

.features,
.reviews,
.price-heading,
.price-plan{
    &__text {
        font-size: 1.2rem;
        letter-spacing: 1.4px;
        line-height: 1.7;
        font-weight: 500;
    }
}

.reviews {
    color: $color-white;

    &__name {
        text-transform: uppercase;
        font-size: 1.4rem;
        margin-left: 1.5rem;
        font-weight: 500;
    }
}

.information-applab,
.footer {
    &__text {
        color: $color-secondary-light;
        font-size: 1rem;
        font-weight: 700;
    }
}